.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*.properties
!gradle.properties
!gradle/wrapper/gradle-wrapper.properties
.settings/
.loadpath
.idea/
*.ipr
*.iml
*.iws
out/
minecraft/
eclipse/
build/
.classpath
.project
run/